<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.CZB.educationsystem.mapper.useromerMapper">
    <resultMap id="BaseResultMap" type="website.CZB.educationsystem.entities.User">
        <constructor>
            <arg column="user_phone" javaType="java.lang.String" jdbcType="CHAR" />
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />

        </constructor>
    </resultMap>
    <select id="getByUserPhone" parameterType="java.lang.String" resultType="website.CZB.educationsystem.entities.User">
        select * from `user` where user_phone = #{userPhone}
    </select>
    <select id="myDeviceList" parameterType="java.lang.String" resultType="website.CZB.educationsystem.entities.Device">
        select * from `device` where user_phone = #{userPhone}
    </select>

    <insert id="register" parameterType="website.CZB.educationsystem.entities.User">
        insert into `user` (user_phone,user_name,password) values (#{userPhone},#{userName},#{password})
    </insert>
    <update id="update" parameterType="website.CZB.educationsystem.entities.User">
        update `user` set password = #{password} where user_phone = #{userPhone}
    </update>

    <update id="changeName" parameterType="website.CZB.educationsystem.entities.User">
        update `user` set user_name = #{userName} where user_phone = #{userPhone}
    </update>
</mapper>