<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.CZB.educationsystem.mapper.DeviceMapper">
    <resultMap id="DeviceMap" type="website.CZB.educationsystem.entities.Device">
        <id column="device_id" property="deviceId" />
        <result column="device_desc" property="deviceDesc"/>
        <result column="device_user" property="deviceUser"/>
    </resultMap>
<!-- resultType="website.CZB.educationsystem.entities.Device"-->
    <select id="findDeviceList" resultMap="DeviceMap">
        select * from `device`
    </select>
    <select id="getByDeviceId" parameterType="java.lang.String" resultMap="DeviceMap" >
        select * from `device` where device_id like #{deviceId}
    </select>
    <insert id="addDevice" parameterType="website.CZB.educationsystem.entities.Device">
        insert into `device` (device_id,device_desc,device_user) values (#{deviceId},#{deviceDesc},#{deviceUser})
    </insert>
    <delete id="deleteDevice" parameterType="website.CZB.educationsystem.entities.Device">
        delete from `device` where device_id like #{deviceId}
    </delete>
    <update id="changeDevice" parameterType="website.CZB.educationsystem.entities.Device">
        update `device` set device_desc=#{deviceDesc} where device_id like #{deviceId}
    </update>
</mapper>